article ul {
  list-style-type: none;
  margin-top: 0px;
  padding: 0;
  overflow: hidden;
  background-color: green;
  height: 50px;
}

article li {
  float: left;
  width:130px;
}

article li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

article li a:hover {
  background-color: white;
  color:indigo;
}
article {
  float: center;
  padding: 0px;
  width: 100%;
  background-color: #f1f1f1;
  height: 700px; 
  
}
article div {
  height:700px;
  margin-top: -16px;
  background-image: url("doc6.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
}

